.circle {
    border-radius: 50%;
    width: 2vw;
    background-color: #5cb85c;
    color: #fff;
    text-align: center;
    /* font-weight: bold; */
    font-size: 1.2rem;
    position: relative;
}
#circleText{
    position: absolute;
    font-size: 1rem;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 25%;
   
}
.card{
    min-height: 65%!important;
    max-height: 65%!important;
}
.cardRow{
    min-height: 100%!important;
    

}
.cardBody{
    max-height: 100%!important;
}
.cardImage{
    height: 100%!important;
    
}

.cardBottom{
    font-size: 0.7rem!important;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 0.9rem!important;
    background-color: #161314 !important;
}

.footerHeight{
    height: 14vh;
}
.backgroundColor{
    background-color: #161314 !important;
}