.circle {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    background-color: #5cb85c;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

/* .card{
    min-height: 80%!important;
    max-height: 80%!important;
} */
.cardRow{
    min-height: 35vh!important;
    

}
.cardBody{
    max-height: 100%!important;
}
.cardImage{
    height: 100%!important;
    border: grey 4px;
    
}

.cardBottom{
    font-size: 0.7rem!important;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 0.9rem!important;
    background-color: #161314 !important;
}

.footerHeight{
    height: 14vh;
}
.backgroundColor{
    background-color: #161314 !important;
}
.line{
    background-color: #3E3C3D!important;
    height: 7vh;
}

